.footer {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  height: auto;
  justify-content: center;
}

.navigation > ul > li {
  float: left;
  display: block;
  color: rgb(55, 127, 235);
  text-align: center;
  font-size: 22px;
  padding: 15px;
  text-decoration: none;
}

.navigation > ul > li:hover {
  background-color: #111111;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image {
  width: 400px;
  height: 400px;
}

.center-text {
  text-align: center;
}

.highlight {
  color: brown;
}

.left-align {
  margin-left: 20px;
}

.plain-text {
  font-size: 18px;
  font-style: arial;
}

.section-background {
  background-color: rgb(131, 197, 235);
  padding: 20px;
  margin: 10px;
}

.code-background-color {
  background-color: rgb(234, 236, 86);
  padding: 20px;
  font-size: 15.5px;
}

.link-color {
  color: aliceblue;
  font-size: 18px;
}

.body-background {
  background-color: rgb(239, 239, 243);
}

.footer > ul > li {
  float: left;
  display: block;
  color: rgb(55, 127, 235);
  text-align: center;
  font-size: 22px;
  padding: 4px;
  text-decoration: none;
}

.main {
  margin-top: 20px;
}
